<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jak szybko umiesz liczyć?</title>
        <style>
            .skip-button {
                background-image: url({{ url_for('static', filename='skip.png')}});
                background-color: white;
                background-size: 100% 100%;
                width: 48px;
                height: 48px;
                margin-right: 10px;
            }

            .accept-button {
                background-image: url({{ url_for('static', filename='accept.png')}});
                background-color: white;
                background-size: 100% 100%;
                width: 48px;
                height: 48px;
                margin-left: 10px;
            }

            .answer {
                transition: background-color 0.5s;
            }

            .error-answer {
                background-color: maroon;
            }

            .good-answer {
                background-color: limegreen;
            }

            .bad-answer {
                background-color: red;
            }

            .game_container {
                width: 25%;
            }

            .game_info {
                width: 100%;
                height: 25px;
            }

            #points {
                float: left;
            }

            #clock {
                float: right;
            }

            .game_check {
                width: 100%;
                text-align: center;
                padding-top: 10px;
            }

        </style>
    </head>
    <body>
        <div class="game_container">
            <div class="game_info">
                <div id="points">
                    0
                </div>
                <div id="clock">
                    {{time}}
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="game_operation" style="float: left;"></div>
            <div class="game_input" style="float: right;">
                <input type="number" name="answer" class="answer">
            </div>
            <div style="clear: both;"></div>
            <div class="game_check">
                <button class="skip-button" type="button" name="skip"/>
                <button class="accept-button" type="button" name="accept"/>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">

            var time = {{time}};
            var level = "{{level}}";
            var points = 0;

            function updateClock() {
                time = time - 1;
                $("#clock").html(time);

                if(time == 0) {
                    $.ajax({
                        url: '/result/',
                        type: 'GET',
                        success: function(response) {
                            $('.game_container').html(response);
                        }
                    });
                } else {
                    setTimeout(updateClock, 1000);
                }
            }

            function lose() {
                $.ajax({
                    url: '/lose/' + level + '/',
                    type: 'GET',
                    success: function(response) {
                        $('.game_operation').html(response);
                        $('input[name=answer]').focus();
                    },
                    error: function(response) {
                        console.log(response)
                    }
                });
            }

            function handleResult(result) {
                var answerInput = $('input[name=answer]');

                if(result) {
                    points++;
                    $('#points').html(points);
                    answerInput.addClass('good-answer');
                    setTimeout(function() { answerInput.removeClass('good-answer'); }, 1000);
                    answerInput.val('');
                    lose();
                } else {
                    answerInput.addClass('bad-answer');
                    setTimeout(function() { answerInput.removeClass('bad-answer'); }, 1000);
                    answerInput.focus();
                }
            }

            function accept() {
                var answerInput = $('input[name=answer]');
                var sign = $('span.sign').html();
                var a = $('span.a').html().trim();
                var b = $('span.b').html().trim();
                var answer = answerInput.val();

                if(answer=='') {
                    answerInput.addClass('error-answer');
                    setTimeout(function() { answerInput.removeClass('error-answer'); }, 1000);
                } else {
                    answerInput.removeClass('error-answer');
                    data = {
                        sign: sign,
                        a: a,
                        b: b,
                        answer: answer,
                        time: time
                    };
                    $.ajax({
                        url: '/check/',
                        contentType: 'application/json;charset=UTF-8',
                        data: data,
                        type: 'GET',
                        success: function(response) {
                            handleResult(response.result)
                        }

                    });
                }
            }

            $(document).ready(function(){
                console.log("ddd");
                setTimeout(updateClock, 1000);
                lose();
                $('button[name=accept]').click(function(){
                    accept();
                });

                $('button[name=skip]').click(function() {
                    $('input[name=answer]').val('');
                    lose();
                });

            });

        </script>
    </body>
</html>
