<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jak szybko umiesz liczyć?</title>
    <style></style>
</head>
<body>
    <div id="description">
        <p>
            <strong>Jak szybko umiesz liczyć? </strong> to gra, polegająca na jak najszybszym rozwiązaniu, jak największej ilości prostych działań arytmetycznych w określonym czasie. <br/>
            <ul>
                <li>System losuje jedno z dwóch możliwych działań arytmetycznych do wykonania: <strong>mnożenie</strong> lub <strong>dodawanie</strong>.</li>
                <li>Za każde poprawnie wykonane działanie, gracz otrzymuje punkt.</li>
                <li>Sprawdzenie wpisanego wyniku przez system odbywa się po wciśnięciu przycisku sprawdzenia: <br/><img src="{{ url_for('static', filename='accept.png')}}"/></li>
                <li>Jeżeli wylosowane działanie wydaje się graczowi za trudne, może on pominąć je i wylosować kolejne, używając przycisku pominięcia: <br/><img src="{{ url_for('static', filename='skip.png')}}"/></li>
                <li>Gra trwa aż do upłynięcia określonego czasu; czas jest zależny od wybranego poziomu trudności.</li>
            </ul>
        </p>
        <p>
            <h2>Łatwy</h2>
                Na tym poziomie dodajemy liczby trzycyfrowe i mnożymy liczby z zakresu 11-20. Czas rozgrywki to 60 sekund.
                <a href="/game/easy/"><button>Graj!</button></a>
            <h2>Średni</h2>
                Na tym poziomie dodajemy liczby trzy- i czterocyfrowe oraz mnożymy liczby dwucyfrowe. Czas rozgrywki to 90 sekund.
                <a href="/game/medium/"><button>Graj!</button></a>
            <h2>Trudny</h2>
                Na tym poziomie dodajemy liczby pięciocyfrowe i mnożymy liczby trzycyfrowe. Czas rozgrywki to 120 sekund.
                <a href="/game/hard/"><button>Graj!</button></a>
        </p>
        <p>
            <a href="/author/">O autorze</a>
        </p>
    </div>
</body>
</html>