<p>
    Gratulacje, twój wynik: {{points}}.
</p>
<p>
    <img alt="wykres" src="{{plot}}"/>
</p>
<p>
    <a href="/"><button>Wróć do strony głównej!</button></a><br/>
    <a href="/game/{{level}}/"><button>Zagraj jeszcze raz!</button></a>
</p>